<section id="{{block_id}}" class="subscribe parallax-window" data-parallax="scroll" data-image-src="{{parallax}}">
	<div class="subscribe__content">
		<div class="subscribe__tittle">
			<h2>{{subscribe__tittle}}</h2>
			<p>{{content__subscribe}}.</p>
		</div>
		<div class="subscribe__form">
			<input type="text" class="form-control__input" id="input-form" placeholder="Email Address...">
          	<button class="subscribe__button" type="button">{{subscribe__btn}}</button>
		</div>
	</div>
</section>