/*fonts*/
.openSans{
	font-family: 'Open Sans', sans-serif;
}
/*fonts*/

body{margin: 0;}
section{
	margin-bottom: 110px;
}
/***Header***/
header{
	background-color: #F6F2F2;
	.header__conten_nav{
		width: 100%;
		margin: 0 auto;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		.show__nav{
			visibility: hidden;
		}
		nav{
			background-color: #313030;
			ul{
				display: flex;
			    flex-wrap: wrap;
			    justify-content: center;
			    margin: 0;
				list-style: none;
				.nav__link{
					display: flex;
					color: #e0e0e0;
					.openSans;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;
					padding: 40px 24px 34px;
					margin: 0;
					a{
						color: #e0e0e0;
						text-decoration: none;
					}
				}
				.nav__link-active{
					background-color: #FF3F40;
				}

			}
		}
	}
}
/***Header***/
/*Section Header*/
.header__content{
	padding-top: 90px;
    padding-bottom: 110px;
	background-color: #F6F2F2;
	.header-items__content{
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		.header__text{
			width: 100%;
		    max-width: 600px;
		    display: flex;
		    justify-content: space-between;
		    align-items: left;
		    flex-flow: row wrap;
		    flex: 0 1 200px;
		    .openSans;
		    h1{
				color: #333;
				font-size: 60px;
				text-transform: uppercase;
				line-height: 72px;
				margin: 0;
			}
			p{
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 63px;
				font-weight: normal;
			}
			.header__button-contact{
				display: flex;
    			flex-direction: column;
				color: #fff;
				font-size: 18px;
				padding: 20px 62px;
				background-color:#FF2D2D;
				border-radius: 10px;
				text-transform: capitalize;
				font-weight: bold;
			}
		}
		.header__video{
			width: 100%;
		    max-width: 600px;
		    display: flex;
		    justify-content: flex-end;
		    align-items: flex-end;
		    flex-flow: row wrap;
		    flex: 1 1 200px;
		    video{
				width: 100%;
				max-height: 355px;
				max-width: 550px;
				-webkit-box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.75);
			}
		}
	}
}
/*Section Heade*/
/***Service***/
.service{
	padding-top: 90px;
	.service__content{
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 100px;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		.service__text{
			width: 100%;
			max-width: 600px;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-align-items: left;
			        align-items: left;
			.openSans;
			font-weight: bold;
			color: #333;
			h2{
				font-size: 42px;
				line-height: 55px;
				text-transform: uppercase;
				margin: 0;
			}
			p{
				font-size: 16px;
			    line-height: 28px;
			    margin-right: 75px;
			    margin-bottom: 55px;
			    font-weight: 400;
			}
			.service__button-more{
				display: flex;
    			flex-direction: column;
    			background-color: #FFF;
    			color: #FF2D2D;
    			font-weight: bold;
    			padding: 20px 60px;
    			.openSans;
    			text-transform: capitalize;
    			border-radius: 5px;
    			border: 2px solid #ff0000;
    			&:hover{
    				transition-property: background-color;
    				transition-property: color;
  							transition-duration: 3s;	 
    			}
			}
		}
		.service__info{
			width: 100%;
			max-width: 600px;
			display: flex;
			flex-wrap: wrap;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-align-items: left;
			align-items: left;
			color: #4C4C4C;
			.openSans;
			line-height: 28px;
				.service__box-top{
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					    -webkit-align-items: baseline;
					    align-items: baseline;
					    margin-bottom: 50px;
					    .service__menagment{
					    	display: flex;
					    	-webkit-flex-direction: column;
					    	    -ms-flex-direction: column;
					    	        flex-direction: column;
					    	        justify-content: space-around;
					    	        padding: 0 30px;
					    }
					    .service__design{
					    	display: flex;
					    	-webkit-flex-direction: column;
					    	    -ms-flex-direction: column;
					    	        flex-direction: column;
					    	        justify-content: space-around;
					    	        padding-left: 15px;
					    }
					    .logo{
					    	margin-bottom: 30px;
					    }
				}
				.service__box-bottom{
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					    -webkit-align-items: baseline;
					            align-items: baseline;
					    .service__branding{
					    	display: flex;
					    	-webkit-flex-direction: column;
					    	    -ms-flex-direction: column;
					    	        flex-direction: column;
					    	    -webkit-justify-content: space-around;
					    	            justify-content: space-around;
					    	    padding: 0 30px;
					    }
					    .service__animation{
					    	display: flex;
					    	-webkit-flex-direction: column;
					    	    -ms-flex-direction: column;
					    	        flex-direction: column;
					    	    -webkit-justify-content: space-around;
					    	            justify-content: space-around;
					    	    padding-left: 50px;
					    }
					    .logo{
					    	margin-bottom: 40px;
					    }
				}
			h3{
				margin: 0;
				font-weight: 600;
			}
			p{
				margin: 0;
			}
		}
	}
	.service-line__bottom{
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
			.service__line{
			    display: flex;
			    -webkit-flex-direction: row;
			        -ms-flex-direction: row;
			            flex-direction: row;
			        border-bottom: 2px solid #ececec;
			}
		}	
}
/***Service***/
/***Products***/
.products{
	.products__content{
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		.products_content-tittle{
			.openSans;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    -webkit-align-items: center;
			            align-items: center;
			margin-bottom: 90px;
			h2{
				color: #333;
				text-transform: uppercase;
				margin: 0px 0px 40px;
			}
			p{
				color: #4C4C4C;
				text-align: center;
				margin: 0px 0px 30px;
			}
			.products_content-line{
				width: 130px;
				display: flex;
			    -webkit-flex-direction: row;
			        -ms-flex-direction: row;
			            flex-direction: row;
				 border-bottom: 2px solid #ff2d2d;       
			}
		}
		.products__nav-bar{
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			    -webkit-justify-content: space-around;
			            justify-content: space-around;
			    margin-bottom: 65px;
			    .product__nav{
			    	ul{
			    		display: flex;
					    flex-wrap: wrap;
					    justify-content: center;
					    margin: 0;
					    list-style: none;
					    flex-direction: row;
					    padding: 0;
					    align-items: center;
					    .nav__link{
					    	display: flex;
					    	-webkit-flex-direction: column;
					    	    -ms-flex-direction: column;
					    	    	flex-direction: column;
					    	padding: 0;
							color: #4c4c4c;
							background: none;
    						border: none;
							.openSans;
							font-size: 18px;
							font-weight: 600;
							text-transform: uppercase;
							text-decoration: none;
							margin: 0 30px;
							&:focus{
							    color: #FF3F40;
							}
					    }
			    	}
			    }
		}
		.products__portfolio{
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			    -webkit-flex-wrap: wrap;
			        -ms-flex-wrap: wrap;
			            flex-wrap: wrap;
			max-width: 1200px;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: stretch;
			        align-items: stretch;
			-webkit-align-content: stretch;
			        align-content: stretch;
			.products__portfolio-items{
				-webkit-flex: 1 1 300px;
				    -ms-flex: 1 1 300px;
				        flex: 1 1 300px;
			    display: flex;
			    -webkit-flex-direction: row;
			        -ms-flex-direction: row;
			            flex-direction: row;
			    -webkit-flex-wrap: wrap;
			        -ms-flex-wrap: wrap;
			            flex-wrap: wrap;
				.image{
					margin: 10px;
					-webkit-flex: 1 1 300px;
					    -ms-flex: 1 1 300px;
					        flex: 1 1 300px;
					img{
						width: 100%;
						height: auto;
						-webkit-transition: all 1s ease;
							    -moz-transition: all 1s ease;
							    -o-transition: all 1s ease;
							    -ms-transition: all 1s ease;
							    transition: all 1s ease;

						&:hover{
							opacity:.65;						}
					}
				}
			}
			.scale-anm {
			  transform: scale(1);
			}
		}
	}
}
/***Products***/
/***TEAM***/
.team{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	.team__content{
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		.openSans;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content:space-around ;
		        justify-content:space-around ;
		.team__tittle{
			width: 100%;
			max-width: 460px;
			display: flex;
		    flex-direction: column;
		    justify-content: space-around;
		    align-items: left;
		    h2{
		    	color: #333;
		    	font-weight: bold;
		    	text-transform: uppercase;
		    	margin:0 0 45px 0;
		    }
		    p{
		    	color: #4C4C4C;
		    	line-height: 28px;
		    	margin:0px 0px 65px 10px;
		    }
		    .team__tittle-line{
		    	width: 130px;
		    	margin-left: 10px;
		    	margin-bottom: 70px;
				display: flex;
			    -webkit-flex-direction: row;
			        -ms-flex-direction: row;
			            flex-direction: row;
				 border-bottom: 2px solid #ff2d2d;
		    }
		}
		.team-profile__content{
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			    -webkit-align-items: stretch;
			            align-items: stretch;
			    -webkit-align-content: space-between;
			            align-content: space-between;
			    -webkit-flex-flow: row wrap;
			        -ms-flex-flow: row wrap;
			            flex-flow: row wrap;
			.team-photo__active{
				display: flex;
			    -webkit-flex-flow: row wrap;
			        -ms-flex-flow: row wrap;
			            flex-flow: row wrap;
				    -webkit-flex: 0 1 320px;
				        -ms-flex: 0 1 320px;
				            flex: 0 1 320px;
			    margin-right: 70px;
			    .team__image{
			    	width: 100%;
			    	max-width: 320px;
			    	height: auto;
			    }
			}
			.team-porofile__info{
				display: flex;
    			flex-flow: column wrap;
    			-webkit-justify-content: space-between;
    			        justify-content: space-between;
				-webkit-flex: 1 1 150px;
				    -ms-flex: 1 1 150px;
				        flex: 1 1 150px;
			    .team-porofile__tittle{
			    	h2{
			    		color: #333;
			    		text-transform: uppercase;
			    		font-weight: 600;
			    		margin: 8px 0px 0px 0px;
			    	}
			    	p{
			    		max-width: 640px;
    					width: 100%;
			    		color: #4C4C4C;
			    		line-height: 28px;
			    		margin: 0 0 25px 0;
			    	}
			    	.team-profile__social{
			    		display: flex;
					    flex-wrap: wrap;
					    justify-content: flex-start;
					    margin-bottom: 41px;
			    		.social__link{
			    		.openSans;
			    		font-size: 18px;
			    		font-style: italic;
			    		text-decoration: none;
			    		color: #414141;
			    		padding: 15px;
			    		&:first-child{
			    			padding-left: 0;
			    		}
			    		}
			    	}
			    	.team-profile-icon__social{
			    		visibility: hidden;
			    	}
			    }
			    .team-profile__items{
			    	padding: 0;
					  margin: 0;
					  list-style: none;					  
					  display: -webkit-box;
					  display: -moz-box;
					  display: -ms-flexbox;
					  display: -webkit-flex;
					  display: flex;
					  -webkit-flex-flow: row wrap;
					  justify-content: space-around;
			    	    .profile-photo__items{
						  width: 188px;
						  height: 215px;
			    	        text-align: center;
			    	        position: relative;
			    	        margin: 0 8px;
			    	        &:first-child{
				    			margin-left: 0;
				    		}
			    	    	.profile_image{
				    	    	width: 100%;
				    	    	height: 100%;
				    	    }
				    	    .centeredText {
							    display: none;
							}
							&:hover{
								.centeredText {
									width: 100%;
								    display: inline-block;
								    position: absolute;
								    background-color: rgba(0, 0, 0, 0.5);
								    top: 91%;
    								left: 50%;
								    transform: translate(-50%,-50%);
								    color: #FFF;
								    font-size: 16px;
								    .openSans;
								    font-weight: 600;
								    text-transform: uppercase;
								    padding: 9px 0px 13px 0;
								    
								}
							}
			    	    }
			    }
			}
		}
	}
}
/***TEAM***/
/****SUBSCRIBE***/
.subscribe{
	 height: 100vh;
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: center;    
		.subscribe__content{
			width: 1200px;
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content:center ;
			        justify-content:center ;
			justify-content: center;
	    		align-items: center; 
			.subscribe__tittle{
				display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-flow: column wrap;
			    margin-bottom: 60px;
			    .openSans;
			    color: #fdfcf8;
			    h2{
			    	margin: 140px 0px 40px 0px;
			    }
			    p{
			    	margin: 0;
			    }
			}
			.subscribe__form{
				width: 100%;
			    max-width: 500px;
				display: flex;
			    justify-content: space-between;
			    flex-flow: row;
				.form-control__input{
					width: 100%;
					padding: 20px 0 20px 15px;
					margin-right: 20px;
					-webkit-border-radius: 5px;
					        border-radius: 5px;
				}
				.subscribe__button{
					background-color: #FF2D2D;
					-webkit-border-radius: 5px;
					        border-radius: 5px;
					    padding: 0 30px;
					    color: #fff;
					    .openSans;
					    font-weight: bold;
					    text-transform: uppercase;
				}
			}
		}
}
/****SUBSCRIBE***/
/****CONTACT***/
.contact{
	.contact__content{
	    width: 1200px;
	    max-width: 100%;
	    margin: 0 auto;
	    display: flex;
	    -webkit-justify-content: space-around;
	    justify-content: space-around;
		.openSans;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		    -webkit-justify-content: space-around;
		            justify-content: space-around;
		.contact__tittle{
			    width: 100%;
			    display: flex;
			    flex-direction: column;
			    justify-content: space-around;
			    align-items: left;
			    h2{
			    	color: #333;
			    	font-weight: bold;
			    	text-transform: uppercase;
			    	margin:0 0 45px 0;
			    }
			    p{
			    	max-width: 700px;
			    	color: #4C4C4C;
			    	line-height: 28px;
			    	margin:0px 0px 65px 10px;
			    }
			    .contact__tittle-line{
			    	width: 130px;
			    	margin-left: 10px;
			    	margin-bottom: 70px;
					display: flex;
				    -webkit-flex-direction: row;
				        -ms-flex-direction: row;
				            flex-direction: row;
					 border-bottom: 2px solid #ff2d2d;
			    }
		}

		.contact-content__bottom{
			width: 100%;	
		    display: flex;
		    -webkit-justify-content: flex-start;
		    justify-content: flex-start;
		    -webkit-align-items: stretch;
		    align-items: stretch;
		    -webkit-align-content: space-between;
		    align-content: space-between;
		    -webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		    flex-flow: row wrap;
			.contact__form{
				display: flex;
			    -webkit-flex-flow: row wrap;
			    -ms-flex-flow: row wrap;
			    flex-flow: row wrap;
			    -webkit-flex: 0 1 700px;
			    -ms-flex: 0 1 700px;
			    flex: 0 1 700px;
				width: 100%;
			    max-width: 700px;
			    .wpcf7 {
				    margin: 0;
				    padding: 0;
				    width: 100%;
				    .contact-form__input{
					    font-family: 'Open Sans',sans-serif;
					    box-sizing: border-box;
					    display: block;
					    float: left;
					    height: 56px;
					    width: 49%;
					    border: 0;
					    border-radius: 10px !important;
					    outline: 0;
					    padding: 10px 0 0 35px  !important;
					    margin-bottom: 20px;
					    background-color: #f1f2f1;
					    color: #656565  !important;
					    font-size: 16px;
					}
					.contact-form__email{
						margin-left: 10px;
					}
					.contact-form__text {
					    width: 100%;
					    height: 250px;
					    padding: 35px;
					    border: 0;
					    border-radius: 10px !important;
					    outline: 0;
					    padding: 10px 0 0 35px  !important;
					    background-color: #f1f2f1;
					    color: #656565  !important;
					    font-family: 'Open Sans',sans-serif;
					    box-sizing: border-box;
					    font-size: 16px;
					}
					.conbtn {
					    width: 100% !important;
					    font-family: 'Open Sans',sans-serif !important;
					    font-weight: 700 !important;
					    color: #FFF !important;
					    padding: 15px 0 !important;
					    border: 0 !important;
					    text-transform: uppercase !important;
					    -webkit-border-radius: 5px !important;
					    border-radius: 5px !important;
					    background-color: #FF3B3B !important;
					}
				}
			    /*
				.input__filling{
				    	display: flex;
					    flex-flow: row wrap;
					    justify-content: space-between;
					    .contact-form__input{
					    	.openSans;
					    	box-sizing: border-box;
						    height: 56px;
						    width: 49%;
						    border: 0;
						    border-radius: 10px;
						    outline: 0;
						    padding: 10px 0 0 35px;
						    margin-bottom: 20px;
						    background-color: #f1f2f1;
						    color: #656565;
						    font-size: 16px;
					    }
					    .contact-form__message{
						    width: 100%;
						    height: 250px;
						    padding: 35px;
						}
			    }
			    .contact-form__buttom{
						width: 100%;
						.openSans;
						font-weight: bold;
						color: #FFF;
						padding: 15px 0;
						border: 0;
						text-transform: uppercase;
						-webkit-border-radius: 5px;
						        border-radius: 5px;
						background-color: #FF3B3B;
					}*/
			}
			.contact__adress{
				display: flex;
			    -webkit-flex-flow: column wrap;
			        -ms-flex-flow: column wrap;
			            flex-flow: column wrap;
			    -webkit-align-items: baseline;
			    align-items: baseline;
			    background-color: #2D2D2D;
			    width: 100%;
			    max-width: 470px;
			    margin-left: 30px;
			    -webkit-flex: 1 1;
			        -ms-flex: 1 1;
			            flex: 1 1;
			    address{
			    	color: #D5D5D5;
			    	.openSans;
			    	font-style: normal;
			    	padding: 70px 0 0 35px;
			    	h2{
			    		margin: 0;
			    		text-transform: uppercase;
			    		margin: 0 0 40px 0px;
			    	}
			    	span{
			    		display: flex;
			    		margin-bottom: 15px;
			    	}
			    	a{
			    		display: flex;
			    		text-decoration: none;
			    		color: #D5D5D5;
			    		margin-bottom: 15px;
			    	}
			    }
			}
		}	
	}
}
/****CONTACT***/
/****FOOTER***/
footer{
	background-color: #313030;
	.footer__content{
		width: 1200px;
	    max-width:100%;
	    margin: 0 auto;
	    display: flex;
	    -webkit-flex-flow: row wrap;
	        -ms-flex-flow: row wrap;
	            flex-flow: row wrap;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	    .footer__widgets_content{
	    	width: 100%;
	    	.openSans;
	    	color: #AFAFAF;
		    margin-top: 30px;
		    margin-bottom: 15px;
		    display: flex;
		    -webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		    flex-flow: row wrap;
		    -webkit-justify-content: space-between;
		    justify-content: space-between;
	    }
	    .footer-content__setting{
	    	width: 100%;
	    	.openSans;
	    	color: #AFAFAF;
		    margin-top: 30px;
		    margin-bottom: 15px;
		    display: flex;
		    -webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		    flex-flow: row wrap;
		    -webkit-justify-content: space-between;
		    justify-content: space-between;
	    	.copyrith__content{
		    	display: flex;
			    flex-flow: row wrap;
			    justify-content: flex-start;
			    align-items: center;
		    }
		    .footer-content__social{
		    	display: flex;
			    flex-flow: row wrap;
			    justify-content: flex-end;
			    align-items: center;
			    .footer-social__button{
			    	display: inline-block;
			    	background-color: #FFF;
			    	color: #313030;
			    	margin-left: 8px;
			    	-webkit-border-radius: 50%;
			    	        border-radius: 50%;
			    	text-decoration: none;
			    	&:hover{
					    -moz-transform: rotate(15deg); /* Для Firefox */
					    -ms-transform: rotate(15deg); /* Для IE */
					    -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
					    -o-transform: rotate(15deg); /* Для Opera */
					    transform: rotate(15deg);
					        transform: scaleY(15deg);
					        transition: 1s;
        
			    	}
			    }
			    	.twitter{padding: 8px 10px;}
			    	.linked{padding: 8px 12px;}
			    	.google{padding: 8px 10px;}
			    	.facebook{padding: 8px 15px;}
		    }
	    }
	}
}
/****FOOTER***/
@import "media.less";


