<section id="{{contact}}" class="contact">
	<div class="contact__content">
		<div class="contact__tittle wow slideInLeft" data-wow-delay="0.2s">
			<h2>{{contact__tittle}}</h2>
			<p>{{contact__article}}</p>
			<div class="contact__tittle-line"></div>
		</div>
		<div class="contact-content__bottom">
			<div class="contact__form wow slideInLeft" data-wow-delay="0.2s">
				[contact-form-7 id="{{contact__form_id}}" title="contact form"]
			</div>
			<div class="contact__adress wow slideInRight" data-wow-delay="0.2s">
				<address>
					<h2>{{contact__adress_title}}</h2>
					<p>Jalalabad 24 / A, Ambaarkhana, Sylhet,</p>
					<p>{{country}}</p>
					<a href="{{email_link}}">{{email}}</a>
					<span>{{phone_number}}</span>
				</address>
			</div>
		</div>
	</div>
</section>