<section id="{{block_id}}" class="team">
	<div class="team__content">
		<div class="team__tittle">
			<h2>{{about__worker}}</h2>
			<p>{{about__worker_information}}</p>
			<div class="team__tittle-line"></div>
		</div>
		<div class="team-profile__content">
			<div class="team-photo__active">
				<img class="team__image" src="{{larg__img_team}}" alt="joker">
			</div>
			<div class="team-porofile__info">
				<div class="team-porofile__tittle">
					<h2>{{team-porofile__tittle}}</h2>
					<p>{{information}}</p>
					<div class="team-profile__social">
						<a href="{{social__link_one}}" class="social__link Facebook">{{social__name_one}}</a>
						<a href="{{social__link_two}}" class="social__link drible">{{social__name_two}}</a>
						<a href="{{social__link_three}}" class="social__link behance">{{social__name_three}}</a>
						<a href="{{social__link_four}}" class="social__link twiter">{{social__name_four}}</a>
					</div>
					<div class="team-profile-icon__social">
						<a href="{{social__link_one}}" class="team__icon dribbble">
							<i class="{{social__icon_two}}" aria-hidden="true"></i>
						</a>
						<a href="{{social__link_two}}" class="team__icon behance">
							<i class="{{social__icon_three}}" aria-hidden="true"></i>
						</a>
						<a href="{{social__link_three}}" class="team__icon twitter">
							<i class="{{social__icon_four}}" aria-hidden="true"></i>
						</a>
						<a href="{{social__link_four}}" class="team__icon facebook">
							<i class="{{social__icon_one}}" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="team-profile__items">
					{{#each_with_sort boxes "order"}}
						<div class="profile-photo__items">
							<a href="{{btn__link}}">
								<img src="{{img__team}}" alt="Andry" class="profile_image">
								<div class="centeredText">{{team__name}}</div>
							</a>
						</div>
					{{/each_with_sort}}
				</div>
			</div>
		</div>
	</div>
</section>