<section id="{{block_id}}" class="products">
	<div class="products__content">
		<div class="products_content-tittle">
			<h2>{{about__products}}</h2>
			<p>{{about__subtitle-products}}</p>
			<div class="products_content-line"></div>
		</div>
		<div class="products__nav-bar">
			
			<nav class="product__nav">
				<ul>
					<li>
						<button class="nav__link nav__link-active" data-rel="all">{{categories__one}}</button>
					</li>
					<li>
						<button class="nav__link" data-rel="print">{{categories__two}}</button>
					</li>
					<li>
						<button class="nav__link" data-rel="web">{{categories__three}}</button>
					</li>
					<li>
						<button class="nav__link" data-rel="user">{{categories__four}}</button>
					</li>
					<li>
						<button class="nav__link" data-rel="mockUp">{{categories__five}}</button>
					</li>
				</ul>
		</div>
		<div class="products__portfolio">
			{{#each_with_sort works "order"}}
			<div class="products__portfolio-items wow tada all {{category__item}}" data-wow-delay="0.2s">
				<div class="image"><a href="{{portfolio__link}}"><img src="{{portfolio__items}}" alt="snow"></a></div>
			</div>
			{{/each_with_sort}}
		</div>
	</div>
</section>