<section id="{{block_id}}" class="header__content">
	<div class="header-items__content">
		<div class="header__text">
			<h1>{{header__title}}</h1>
			<p>{{header__article}}</p>
			<button class="header__button-contact">{{btn__text}}</button>
		</div>
			<div class="header__video">
				<video width="550" controls>
					<source src="{{video.url}}" type="video/mp4" />
				</video>
			</div>
	</div>
</section>