<section id="{{block_id}}" class="service">
	<div class="service__content">
		<div class="service__text wow zoomIn" data-wow-delay="0.2s">
			<h2>{{about__service}}</h2>
			<p>{{content__service}}</p>
			<button id="serviceButton__more" class="service__button-more">Learn more</button>
		</div>
		<div class="service__info wow zoomIn" data-wow-delay="0.2s">
			<div class="service__box-top">
				<div class="service__menagment">
					<div class="service__menagment-logo logo {{settings__icon}}"></div>
					<h3>{{service-name_1}}</h3>
					<p>{{scope__work_1}}</p>
				</div>
				<div class="service__design">
					<div class="service__design-logo logo {{pencil__icon}}"></div>
					<h3>{{service-name_2}}</h3>
					<p>{{scope__work_2}}</p>
				</div>
			</div>
			<div class="service__box-bottom">
				<div class="service__branding">
					<div class="service__branding-logo logo {{diamond__icon}}"></div>
					<h3>{{service-name_3}}</h3>
					<p>{{scope__work_3}}</p>
				</div>
				<div class="service__animation">
					<div class="service__animation-logo logo {{truck__icon}}"></div>
					<h3>{{service-name_4}}</h3>
					<p>{{scope__work_3}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="service-line__bottom">
		<div class="service__line"></div>
	</div>
</section>